@charset "UTF-8";

/* Estilos para a Impressoras */

* {
    margin: 5px;
    padding: 5px;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

menu {
    display: none;
}

article::after {
    content:'Este artigo foi publicado por Josias Felipe';
}